<div class="container column col-12 col-8-sm col-md-6 col-lg-4 justify-content-center py-4">

  <div class="container column justify-content-center">

    <div class="row py-2 d-flex justify-content-center">
      <h2 class="d-flex justify-content-center">Booking for client  </h2>
      <h4 class="d-flex justify-content-center"> <%= @booking.client.first_name %> <%= @booking.client.last_name %> <i class="fa-solid fa-phone"></i> <%= @booking.client.phone_number%></h4>
    </div>

    <div class="py-2">
      <%= simple_form_for @booking, data: { controller: 'datepicker' } do |f| %>
        <%= f.input :booking_start, :label => "Date", as: :string, input_html: { data: { datepicker_target: "bookingStart" } } %>
        <%= f.input :party_count, as: :integer %>
        <%= f.input :comment, as: :string %>
        <span class="py-2 d-flex justify-content-center"><%= f.submit 'Update booking!', class:"text-decoration-none btn btn-info rounded-3 w-100" %></span>
      <% end %>   <!-- Guys don't place divs inside of the simple form, it makes the action not work! -->
    </div>

  </div>
</div>
