<div class="container" id="bookingscont">
  <h1><em><%= @restaurant.name %></em>'s bookings </h1>
  <div class="container" id="mybookingscont">
    <% if @bookings.empty? %>
      <p class="d-flex text-justify-space-around"></p><%= "You don't have any confirmed bookings yet!" %>
    <% else %>
      <div>
        <ul class="list-group list-group-flush width:100%;" id="bookul">
          <% @bookings.each do |booking| %>
            <li class="list-group-item list-group-item-light">
                <div id="indexitemb">
                  <div id="listitemb">
                    <p><strong><%= booking.booking_start %></strong></p>
                    <p>&#128100;: <%= booking.party_count %> people</p>
                    <p><%= booking.client.first_name.capitalize %></p>
                    <p><%= booking.client.last_name.capitalize %></p>
                    <p>&#128383;: <%= booking.client.phone_number %></p>
                  </div>
                  <div id="showlink"><%= link_to "Create a review", new_booking_review_path(booking), class:"btn btn-danger" %></div>
                  <div id="showlink"><%= link_to "Booking details", booking_path(booking), class:"btn btn-primary" %></div>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<%# <%# <<%= link_to "Edit this booking", edit_booking_path(booking), class:"btn btn-primary" %>
<%# <%= link_to "Delete this booking",   booking_path(booking),   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
