<div class="app-body">

<div class="container" id="bookingscont">
  <div class="book-title">
  <h1 ><em><%= @restaurant.name %></em>'s bookings </h1>
  </div>

  <div class="container" id="mybookingscont">
    <% if @bookings.empty? %>
      <p class="d-flex text-justify-space-around"></p><%= "You don't have any confirmed bookings yet!" %>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Party Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Review</th>
            <th scope="col">Booking Details</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td class="py-3 align-middle"><strong><%= booking.booking_start.strftime('%b %d %H:%M') %></strong></td>
              <td class="py-3 align-middle">👤 <%= booking.party_count %> people</td>
              <td class="py-3 align-middle"><%= booking.client.first_name.capitalize %></td>
              <td class="py-3 align-middle"><%= booking.client.last_name.capitalize %></td>
              <td class="py-3 align-middle">📞 <%= booking.client.phone_number %></td>
              <td class="py-3 align-middle">
                <% if booking.review %>
                  <p class="btn btn-secondary disabled align-middle">Already reviewed!</p>
                <% else %>
                  <%= link_to "Create a review", new_booking_review_path(booking), class:"btn btn-danger text-nowrap align-middle" %>
                <% end %>
              </td>
              <td class="py-3">
                <%= link_to "Booking details", booking_path(booking), class:"btn btn-primary text-nowrap" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
