<div class="container column col-12 col-8-sm col-md-6 col-lg-4 justify-content-center py-4 booking-new-container">

    <div class="container column justify-content-center">

      <div class="row py-2 d-flex justify-content-center">
        <h2 class="d-flex justify-content-center">Book a table for </h2>
        <h4 class="d-flex justify-content-center"><strong><%= @client.first_name %> <%= @client.last_name %> </strong> <i class="fa-solid fa-phone"></i> <%= @client.phone_number%></h4>
      </div>

      <div class="py-2">
        <%= simple_form_for [@client, @booking], data: { controller: 'datepicker' } do |f| %>
              <%= f.input :booking_start, :label => "Date", as: :string, input_html: { data: { datepicker_target: "bookingStart" } } %>
              <%= f.input :party_count, as: :integer %>
              <%= f.input :comment, hint: 'optional', as: :string %>
              <%= f.submit 'Confirm this Booking', class:"text-decoration-none btn btn-info rounded-3" %>
        <% end %>
      </div>

  </div>
</div>
