<h2>Book a table for <%= @client.first_name %> <%= @client.last_name %> - <%= @client.phone_number%></h2>
<p></p>
<%= simple_form_for [@client, @booking], data: { controller: 'datepicker' } do |f| %>
      <%= f.input :booking_start, :label => "Date", as: :string, input_html: { data: { datepicker_target: "bookingStart" } } %>
      <%= f.input :party_count, as: :integer %>
      <%= f.input :comment, as: :string %>
      <%= f.submit 'Confirm this Booking', class:"text-decoration-none btn btn-info" %>
<% end %>
