  <div class="container">
  <div class="d-flex justify-content-between">

    <div class="m-7">
      <h3>Booking info</h3>
      <h1><%= @booking.client.first_name%> <%= @booking.client.last_name%></h1>
      <h3>Phone number: <%= @booking.client.phone_number %></h3>
      <h4><%= @booking.booking_start %></h4>
      <h4>Party Number: <%= @booking.party_count %></h4>
      <br>
      <h4>Comment: <%= @booking.comment %></h4>
    </div>

    <div class="m-7 gep-top mt-4">
      <p><%= link_to "Update Booking", edit_booking_path(@booking), class:"btn btn-info" %></p>
      <p><%= link_to "Delete Booking", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %></p>
    </div>
  </div>
  </div>
