
<div class="container pt-4 pb-4" data-client-list-target="list">
  <% @clients.each do |client| %>
    <% progress_color = client.ccr >= @restaurant.ccr_acceptance ? "green" : "red" %>
    <script src="https://cdn.jsdelivr.net/npm/js-circle-progress/dist/circle-progress.min.js" type="module"></script>

       <style>
        circle-progress::part(circle) {
          stroke: grey;
          stroke-width: 15;
        }

        circle-progress::part(text) {
          fill: black;
          font-size: 1.5rem;
          font-weight: 100;
        }

        circle-progress[style]::part(value) {
          stroke: var(--value-stroke-color);
          stroke-width: 15;
        }
      </style>


      <div class="container m-2 row justify-content-center">
            <div class="card-category-index col-12 col-md-10 col-lg-8  d-flex flex-row justify-content-between p-2">
		          <img src="no_restaurant_image" alt="">

                <div class="flex-item m-4"> <!-- client.booking.restaurant.ccr_acceptance - replace with 2.5, no errors -->
                  <circle-progress value="<%= client.ccr %>" max="5.0" text-format="value" style="--value-stroke-color: <%= progress_color %>;"></circle-progress>
                </div>


                <div class="flex-item flex-grow-1 m-4">
                  <div class="d-flex align-items-start mb-7">
                  <p><i class="fa-solid fa-user"></i>  <%= client.first_name %> <%= client.last_name %>  |  <i class="fa-solid fa-phone"></i> <%= client.phone_number %></p>


                  </div>

                </div>

                <div class="flex-item me-4">
                    <div class="d-flex align-items-start mb-4">
                      <%= link_to "see details", client_path(client), class: "details-link" %>
                    </div>
                    <div class="align-items-end mt-4" data-controller="alert">
                      <% if client.ccr < 3.0 %> <!-- Very important tag sweetalert-wise -->
                        <span data-action="click->alert#showAlert">
                          <%= link_to "Book now!", new_client_booking_path(client), class: "btn btn-outline-primary rounded-3", data: { client_id: client.id }, id: "book_now" %>
                        </span>
                      <% else %>
                        <%= link_to "Book now", new_client_booking_path(client), class: "btn btn-outline-primary rounded-3" %>
                      <% end %>
                    </div>
                </div>
              </div>
    	    </div>
    <% end %>
    </div>
</div>
