<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container navbar-custom my-4">

    <div class="navbar-left d-flex">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if restaurant_signed_in? %>

            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars" style="font-size: 1.8em; color: black"></i>

            </a>
              <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
                <%# <%= link_to "My profile (link missing)", "#", class: "dropdown-item" %>
                <%= link_to "New review", bookings_path, class: "dropdown-item" %>
                <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
                <%= link_to "Pending Reviews", without_reviews_bookings_path, class: "dropdown-item" %>
                <%= link_to "My profile", edit_restaurant_registration_path(current_restaurant) , class: "dropdown-item" %>

                <%= link_to "Log out", destroy_restaurant_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_restaurant_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="spacer"></div>


    <div class="flex-item align-items-center navbar-center">
      <%= link_to image_tag("big-logo.png", width: "250px", class: "navbar-brand"), root_path %>

    </div>


    <div class="navbar-right d-flex justify-content-start pl-3">

      <div class="spacer"></div>

    <% if restaurant_signed_in? %>
      <div class="mt-3 me-3"><h4><strong><%= current_restaurant.name %></strong></h4></div>
    <% else %>
      <div class="d-none"></div>
    <% end %>

      <div>
        <% if restaurant_signed_in? %>
          <% if current_restaurant.photo.attached? %>
            <%= link_to edit_restaurant_registration_path(current_restaurant) do %>
              <%= cl_image_tag(current_restaurant.photo.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown") %>
            <% end %>
          <% else  %>
            <%= link_to image_tag("no_restaurant_image.png", class: "avatar dropdown-toggle", id: "navbarDropdown"), edit_restaurant_registration_path %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
