<div class="content-container">

  <div class="container">
    <h1 class="h1 text-info">Edit a Client!</h1>

    <div class="bg-white rounded p-3 shadow">
      <h3 class="card-title d-flex align-items-center justify-content-center p-2">
        <strong>Edit Mr. <%= @client.last_name %>'s info:</strong>
      </h3>
        <%= simple_form_for @client do |f| %>
          <%= f.input :first_name, placeholder: 'John' %>
          <%= f.input :last_name, placeholder: 'Smith' %>
          <%= f.input :phone_number, placeholder: '910210310' %>
          <div class="d-flex justify-content-center mb-3">
            <%= f.submit class: "btn btn-info w-100" %>
          </div>
          <!-- <div class="d-flex justify-content-center mb-3 btn btn-danger w-100">
            <%= link_to "Delete this client", client_path(@client), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div> -->
        <% end %>
    </div>
  </div>
</div>
