
<div class="container pt-4 pb-4">

  <%= render "clients/search_clients" %>
    <% @clients.each do |client| %>
      <div class="container m-2 row justify-content-center">
            <div class="card-category-index col-12 col-md-10 col-lg-8  d-flex flex-row justify-content-between p-2">
            <img src="no_restaurant_image" alt="">
                <div class="flex-item m-4"> <!-- client.booking.restaurant.ccr_acceptance - replace with 2.5, no errors -->
                  <% if (client.ccr >= 2.5) %>
                    <p class="green">Rating: <%= client.ccr %> green</p> <!-- create the scss files and classes -->
                  <% else %>
                    <p class="red">Rating: <%= client.ccr %> red</p>
                  <% end  %>
                </div>


                <div class="flex-item flex-grow-1 m-4">
                  <div class="d-flex align-items-start mb-7">
                  <p><i class="fa-solid fa-user"></i>  <%= client.first_name %> <%= client.last_name %>  |  <i class="fa-solid fa-phone"></i> <%= client.phone_number %></p>


                  </div>

                </div>

                <div class="flex-item me-4">
                    <div class="d-flex align-items-start mb-4">
                      <%= link_to "see details", client_path(client), class: "details-link" %>
                    </div>
                    <div class="align-items-end mt-4">
                      <%= link_to "Book now", new_client_booking_path(client), class: "btn btn-outline-primary rounded-3" %>
                    </div>
                </div>
              </div>
    	    </div>
    <% end %>
    </div>
</div>
