<div class="d-flex justify-content-center">
  <%= simple_form_for @client do |f| %>
    <%= f.input :first_name, placeholder: 'James' %>
    <%= f.input :last_name, placeholder: 'Mcmuffin' %>
    <%= f.input :phone_number, placeholder: '+45 213 5432' %>
      <%= f.submit class: "btn btn-info w-100" %>
  <% end %>
</div>
