
<div class="conteinar">
  <div class="card-category">
    <div>
     <h2> <%= client.ccr %> </h2>
    </div>
    <div>
      <h3><%= client.first_name %> <%= client.last_name %></h3>
      <p><%= client.phone_number %></p>
    </div>
    <div>
      <%= link_to "Book", new_client_booking_path(client.id), class:"btn btn-info" %>
    </div>
  </div>

  <div>
    <h3>Reviews</h3>
  </div>

</div>
