<div class="container column col-12 col-8-sm col-md-6 col-lg-4 justify-content-center py-4">

    <div class="container column justify-content-center">
      <div class="row py-2 d-flex justify-content-center">
      <% if (Time.now < @booking.booking_start) %>
        <h3 class="h3 text-info">You <strong> cannot </strong> make a review for Mr <em><%= @booking.client.last_name %></em> yet</h3>
        <h4 class="d-flex justify-content-center">The booking will happen at <%= @booking.booking_start.strftime('%b %d, %Y - %H:%M') %></h4>
        <p><%= link_to "Go back to bookings registry", bookings_path, class: "btn btn-primary" %></p>
      <% else %>
        <h2 class="d-flex justify-content-center">Make a review for</h2>
        <p class="d-flex justify-content-center"><em><%= @booking.client.first_name %> <%= @booking.client.last_name %> </em> - at <%= @booking.booking_start.strftime('%b %d, %Y - %H:%M') %></p>
        <div class="py-2 d-flex justify-content-center">
          <%= simple_form_for [@booking, @review], data: { controller: 'review' } do |f| %>
            <%= f.input :attendance, inline_label: "Did the client show up?",as: :boolean, input_html: { data: { action: "review#change", review_target: "attendance" } } %>
            <%= f.input :punctuality, as: :integer, input_html: { data: { review_target: "punctuality" } } %>
            <%= f.input :comment, as: :string, hint: 'optional' %>
            <%= f.submit 'Confirm this review', class: "text-decoration-none btn btn-info rounded-3" %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
</div>
