<div class="content-container">
  <div class=" d-flex justify-content-center mt-4">

  <div class="form-card text-center">
    <h2>Review of <U> <%= @review.booking.client.first_name %> <%= @review.booking.client.last_name %> </U></h2>
    <br>
        <div lcass="card-info">
          <h3 class="h3">Crazy behaviour happened on:
           <br>
          <%= @review.booking.booking_start.strftime('%b %d, %Y') %></h3>
          <% if @review.attendance %>
            <p class="mt-3">Mr <em><%= @review.booking.client.last_name %></em>
              showed up, but arrived <strong><%= @review.punctuality %></strong> minutes late!
            </p>
          <% else %>
            <p>Mr <em><%= @review.booking.client.last_name %></em> did <strong>not</strong> show up!</p>
          <% end %>
          <div class="div-to-pop p-2 mt-2 bg-light text-center">
            <span class="to-populate">
              Comment left by <strong><%= @review.booking.restaurant.name %></strong><strong>'s</strong> manager:
            </span>
            <br>
            <h5 class="text-danger">
            <%= @review.comment %>
            </h5>
          </div>
        </div>
    </div>
  </div>

</div>
