<div class="container card-category_review d-flex justify-content-center">

  <div class="empty-for-now">
   <h2>Review of <U> <%= @review.booking.client.first_name %> <%= @review.booking.client.last_name %> </U></h2>
   <br>
      <div lcass="card-info">
        <h3 class="h3">Crazy behaviour happened: <%= @review.booking.booking_start.strftime('%b %d, %Y') %></h3>
        <% if @review.attendance %>
          <p>Mr <em><%= @review.booking.client.last_name %></em>
            showed up, but arrived <strong><%= @review.punctuality %></strong> minutes late!
          </p>
        <% else %>
          <p>Mr <em><%= @review.booking.client.last_name %></em> did <strong>not</strong> show up!</p>
        <% end %>
        <div class="div-to-pop">
          <span class="to-populate">
            Comment left by <strong><%= @review.booking.restaurant.name %></strong><strong>'s</strong> manager:
          </span>
          <br>
          <p class="text-info">
          <%= @review.comment %>
          </p>
        </div>
      </div>
    </div>
</div>
