<div class="container">
  <h2>Review of <%= @review.booking.client.first_name %> <%= @review.booking.client.last_name %></h2>

  <h4 class="h4">Crazy behaviour happened: -to correct-<%#= review.bookings_id.booking_start %></h4>
      <% if @review.attendance %>
        <p>The client <em>showed up</em>, but arrived <strong><%= @review.punctuality %></strong> minutes late!</p>
      <% else %>
        <p>The client did <strong>not</strong> show up!</p>
      <% end %>

   <div class="h5">
     <span class="to-populate">
        Comment left by <em>-to correct-<%#= review.bookings_id.restaurant_id.name %></em>'s manager:
      </span>
      <p class="text-info">
        <%= @review.comment %>
      </p>
    </div>
   <p><%= link_to "Go Back", client_path(@review.booking.client), class: "btn btn-info" %></p>
</div>
